<div class="container">
  <header class="well">
    <h1>The Coffee Czar</h1>

    <p class="lead">Who is too lazy to make the next pot?</p>
  </header>

  <p id="notice"><%= notice %></p>

  <section class="well">
    <h4>Today is <%= Time.now.strftime("%A %B %d, %Y") %></h4>
    <h4>The current time is <%= Time.now.strftime("%H:%M:%S (%Z)") %></h4>
  </section>

  <% if @pictures.empty? || (@pictures.first.created_at < (Time.now.utc - 1.minute)) %>
      <section class="well">
        <p style="color: red" class="lead">No Cameras Detected</p>

        <p>To use your phone as a camera, point your mobile browser to
          <a href="http://coffeeczar.herokuapp.com/pictures/snap">http://coffeeczar.herokuapp.com/pictures/snap</a></p>
      </section>
  <% end %>

  <% unless @pictures.empty? %>
      <section class="well">
        <% if @pictures.first.created_at < (Time.now.utc - 1.minute) %>
            <h4>Recent Pictures:</h4>
        <% end %>
        <ul class="list-inline">
          <% @pictures.each do |picture| %>
              <li class="crop">
                <%= raw "<img id=\"pic\" alt=\"Picture\" src=\"/pictures/#{picture.id}/raw\">" %>
                <p><%= picture.created_at.localtime.strftime("%H:%M:%S (%Z)") %></p>
              </li>
          <% end %>
        </ul>
      </section>
  <% end %>


</div>