<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @picture.uid %>
</p>

<%= raw "<img id=\"pic\" alt=\"Picture\" src=\"/pictures/#{@picture.id}/raw\">" %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
